.rowMR{
    margin:0 !important;
}
.contHeadTables{
	padding: 10px;
}
.contItemsHead{
	margin: 3px;
	height:40px;
}
#copyCodeTableC{
    margin-right:10px;
}
#copyCodeTableU{
    margin-right:10px;
}
.titleConts{
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.editTable {
    width:100%;
}
.titleModal{
    padding:10px;
}
#controlTable{
    width:100%;
}
.titleContsUpdate{
    width: 100%;
	text-align: center;
	font-size: 20px;
}
.contSaveTable{
    width:100%;
    justify-content:center;
    text-align:center;
}
.titleContsCreate{
	width: 100%;
	text-align: center;
	font-size: 20px;	
}
.titleContsCreateUpdate{
    width: 100%;
	text-align: center;
	justify-content:center;
	font-size: 20px;	
}
.contSaveChange{
    padding:10px;
    text-align:center;
    justify-content:center;
}
.contSave{
    width:100%;
    text-align:center;
    padding:10px;
}
.rowValuesCreateTable{
	padding: 10px;
}
.contEdicion{
	width: 100%;
}
.contTableEdit{
	justify-content: center;
	text-align: center;
	width: 100%;
}
.contValuesEdit{
	width: 100%;
	justify-content: center;
	text-align: center;
}
.contPreview{
	width: 100%;
	justify-content: center;
	
}
.contTableEditable{
	width: 100%;
	justify-content: center;
	text-align: center;
	
}
.createList{
	width: 100%;
}
.controlsCreateList{
	padding: 10px;
	width: 100%;
	justify-content: center;
	text-align: center;
}
#NoItems{
	width: 120px;
	display: inline-block;
}
.input-out{
    display:none;
}
#createList{
	display: inline-block;
}
/*style create list*/
.contEditableList{
	width: 100%;
	justify-content: center;
	padding:20px;
}
.contControlList{
	width: 100%;
	justify-content: center;	
}
.contPersonalize{
	width: 100%;
}
.contPreviewEditable{
    width:100%;
    justify-content:center;
}
#selectList{
	
	width: 170px;
}
.rowMR{
    margin:0;
}
.buildTable{
    width:100%;
}
.btnItinerario{
    border-radius:3px;
    padding:10px;
    cursor:pointer;
}
.containerActions{
    width:100%;
    text-align:center;
}

/*listMenu*/
.lista {
    position: absolute;
    margin: 0;
    list-style:none;
    background: white;
}
.listItem:hover{
	background: #2125295e;
	
}

.listItem {
    display: inline-block;
    z-index:10;
    padding: 5px 10px;
    position: relative;
}
.listItem:hover > .lista {
    display: block;
}
.lista .lista {
    position: absolute;
    display: none;
    margin: 0;
    top: 48px;
    padding: 5px 10px;
}
.lista .lista .listItem {
    display: block;
}

.lista .lista .lista {
    position: absolute;
    top: 0;
    left: 100%;
}
.list3{
    background:rgba(0, 123, 255, 0.61) none repeat scroll 0% 0%;
}
#lista1{
    background:rgba(0, 123, 255, 0.61) none repeat scroll 0% 0%;
}
/*listMenu*/
.lista1 {
    
    position: absolute;
    margin: 0;
    list-style:none;
    background: white;
}
.listItem11:hover{
	background: #2125295e;
	
}

.listItem11 {
    display: inline-block;
    z-index:10;
    padding: 5px 10px;
    position: relative;
}
.listItem11:hover > .lista {
    display: block;
}
.lista1 .lista1 {
    position: absolute;
    display: none;
    margin: 0;
    top: 48px;
    left:44px;
    padding: 5px 10px;
}
.lista1 .lista1 .listItem11 {
    display: block;
}

.lista1 .lista1 .lista1 {
    position: absolute;
    top: 0;
    left: 100%;
}
.list31{
    background:rgba(0, 123, 255, 0.61) none repeat scroll 0% 0%;
}
#lista11{
    background:rgba(0, 123, 255, 0.61) none repeat scroll 0% 0%;
}
